{% extends 'layouts/application.html' %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans "Statuses" %}</h1>

    <a href="{% url 'create_status' %}" class="btn btn-primary mb-3">
        {% trans "Create Status" %}
    </a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Creation Date" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses_list %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'update_status' status.id %}" class="btn btn-sm btn-outline-secondary">{% trans "Edit" %}</a>
                    <a href="{% url 'delete_status' status.id %}" class="btn btn-sm btn-outline-danger">{% trans "Delete" %}</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">{% trans "No statuses" %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
