{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Task Manager Hexlet" %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">{% trans "Task Manager" %}</a>
        <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarNav"
          aria-controls="navbarNav" 
          aria-expanded="false" 
          aria-label="{% trans 'Toggle navigation' %}"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/users/">{% trans "Users" %}</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/login/">{% trans "Entrance" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/create/">{% trans "Logging" %}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
