{% extends 'layouts/application.html' %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
    {% translate "Вход" %}
  </h1>

  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label class="form-label" for="id_username">{% translate "Имя пользователя" %}</label>
      <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" 
             maxlength="150" class="form-control" placeholder="{% translate "Имя пользователя" %}" 
             required id="id_username">
    </div>

    <div class="mb-3">
      <label class="form-label" for="id_password">{% translate "Пароль" %}</label>
      <input type="password" name="password" autocomplete="current-password" 
             class="form-control" placeholder="{% translate "Пароль" %}" required id="id_password">
    </div>

    <input class="btn btn-primary" type="submit" value="{% translate "Войти" %}">
  </form>
</div>
{% endblock %}
